/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

h3 {
	color: #ff7700;
}

h4 {
	color: #ff7700;
}

/*--------------------- new styles -----------------------*/
.advSugField {
	border: none;
}

.multiBox .detail,
.advSugBox .detail {
	border: 1px solid #D3D3D3;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	display: block;
	padding: 1px;
}

.detail .vCentral {
	display: block;
	position: relative;
}

.detail .vCentral .left {
	display: inline-block;
	max-width: 0;
	position: absolute;
	vertical-align: middle;
}

.detail .vCentral .left .gwt-Image {
	vertical-align: top;
}

.sItem,
.detail .vCentral .advSugField {
	display: inline-block;
	margin-left: 1.7em;
	width: -moz-available;
	min-width: intrinsic;
}

.sItem.label {
	display: inline;
}

.detail .vCentral .right {
  color: #808080;
  font-size: 1.2em;
  position: absolute;
  right: 0.2em;
  bottom: -3px;
}

/*--------------------- new styles : popup -----------------------*/
.popupContent .sItem {
	margin-left: 0.2em;
	display: list-item;
	min-height: 1.7em;
}

.popupContent .sItem.label {
	margin-left: 1.7em
}

.defaultListRenderer .sItem .container {
  display: block;
  position: relative;
}

.sItem .container .icon {
  left: 0;
  position: absolute;
  top: 0;
}
/*--------------------- new styles : multiple choice -----------------------*/
.multiBox .detail .vCentral .advSugField {
	margin-left: 0.2em;
}

.multiBox .advMultiItem {
  border: 1px solid #E6E6E6;
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  display: inline-block;
  margin: 0 0.1em 0 0;
  height: 1.4em;
  min-height: 1.4em;
  min-width: 2.5em;
  position: relative;
  /*must be above parent*/
  z-index: 1;
}

.advSugMultiChoiceSelection .gwt-Image.icon {
  display: inline;
  margin: 0.1em;
  position: absolute;
  cursor: pointer;
}

.advMultiItem .remove {
  position: absolute;
  right: 0;
  top: 0;
}

/*--------------------- new styles end -----------------------*/
.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/* la suggest box CUSTOM */
.advSugFieldPanel {
	border: 1px solid blue;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 8px #9fa7eb;
	-moz-box-shadow: 1px 1px 8px #9fa7eb;
	box-shadow: 1px 1px 8px #414178;
}

.advSugFieldPanel table tr {
	
}

.advSugFieldPanel .advSugFieldPanel-left {
	
}

.advSugFieldPanel .advSugFieldPanel-left .advSugFieldPanel-leftInner
	{
	
}

.advSugFieldPanel .advSugFieldPanel-content
	{
	
}

.advSugFieldPanel .advSugFieldPanel-right
	{
	
}

.advSugFieldPanel .advSugFieldPanel-right .advSugFieldPanel-rightInner
	{
	
}

.sItem {
	font-size: 0.9em;
}

.panelSelector .gwt-Image.icon {
	float: left;
	width: 1em;
}

.panelSelector .sItem {
	float: left;
	font-size: 0.9em;
	min-height: 22px;
	padding: 2px;
}

.panelSelector .label {
	min-width: 3em;
	float: left;
}

.panelSelector .image {
	float: left;
}

.panelSelector .selectionIndicator {
	clear: left;
	height: 0.15em;
	background-color: green;
}

#selectionPanel3 .panelSelector .selected {
	background-color: inherit;
	border-radius: 0;
}

.panelSelector .selected .selectionIndicator {
	background-color: #77FF77;
}

.panelSelector .last {
	clear: left;
}

/* .panelSelector hover {
	background-color: inherit;
	border-radius: 0;
}
 */

.selected {
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 1px 1px 1px #949dff;
	background-color: #cbddfa;
	color: black;
}

.selected .disabled {
	background-color: inherit;
	color: inherit;
}

.panelSelector .selected .disabled .label {
	color: gray;
	text-shadow: none;
}

.panelSelector .selected .disabled .selectionIndicator {
	background-color: inherit;
}

hover {
	font-weight: bold;
	background-color: #cce4f5;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.matchStr {
	color: #0f8a04;
	text-shadow: 1px 1px 1px #95ff8f;
}

.advSugBox {
	clear: both;
}

.advSugBox.rOnly {
	background-color: #DDDDDD;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.rOnly .advSugFieldDetail {
	border: none;
}

.advSugFieldDetail {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #F4F4F4;
}

.advSugFieldDetail .top {
	clear: both;
}

.advSugFieldDetail .bottom {
	clear: both;
}

.advSugFieldDetail .vCentral {
	
}

.advSugFieldDetail .left {
	float: left;
	min-height: 1em;
	padding-right: 1%;
	min-width: 1em;
}



#selectionPanelState {
	background-color: #085123;
	color: yellow;
}

#selectionPanelState2 {
	background-color: #E0CFBC;
	border-radius: 4px 4px 4px 4px;
	color: black;
	padding: 1em;
}

.advSugFieldDetail .right {
	float: left;
	min-height: 1em;
	padding-left: 0.5%;
}

.advSugPopup {
	background-color: #f3f3f3;
	border: 1px solid blue;
	border-top: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-box-shadow: 1px 1px 8px #9fa7eb;
	-moz-box-shadow: 1px 1px 8px #9fa7eb;
	box-shadow: 1px 1px 8px #414178;
	padding: 5px;
}

.advSugPopup table {
	
}

.advSugFieldHover {
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 6px #dbe9ff;
	-moz-box-shadow: 1px 1px 6px #dbe9ff;
	box-shadow: 1px 1px 6px #dbe9ff;
}

.advSugAdvancedTextBoxDefaultText {
	color: #999999;
}

.advSugAdvancedTextBoxErrorText {
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 1px 1px 1px #a90329;
	background-color: #ffc2c2;
	color: black;
}

.advSugAdvancedTextBoxMandatoryText {
	background-color: #ff9999;
	border: 0px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 8px #ff9999;
	-moz-box-shadow: 1px 1px 8px #ff9999;
	box-shadow: 1px 1px 8px #ff9999;
}

.rOnly .advSugField.advSugField-readonly {
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
}

.advSugAdvancedTextBoxReadOnlyText {
	background-color: #dddddd;
	color: gray;
	border: 0px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 8px #9fa7eb;
	-moz-box-shadow: 1px 1px 8px #9fa7eb;
	box-shadow: 1px 1px 8px #414178;
}

.advSugFieldPopupSimpleTable {
	padding: 0;
}

.advSugFieldPopupSimpleTable tr td {
	
}

.advSugFieldPopupSimpleTableCell {
	
}

.advSugFieldPopupSimpleTableCell-selected {
	background-color: #b5b5b5;
	text-shadow: 1px 1px 1px #d5d5d5;
}

.advSugFieldPopupSimpleTableCell-hover {
	text-shadow: 1px 1px 1px #707cba;
}

.advSugTableMatchingString {
	background-color: #b0fc24;
	text-shadow: 1px 1px 1px #25e1fa;
}

.advMultiItem .advSugMultiItem {
	
}

.sItem-Elem {
	float: left;
}

.sItem-Elem .container {
	clear: both;
	float: left;
}

.sItem-Elem .container .icon {
	float: left;
}

.sItem-Elem .container .label {
	
}

.sItem-Elem .remove {
	float: right;
	padding-right: 5px;
}

.advSugMultiChoiceSelection {
	
}

.advSugMultiItem {
	vertical-align: middle;
}

.advSugMultiItem .line {
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	background-color: #CBDDFA;
	padding: 2px;
}

.advSugMultiItem .lineBreak {
	clear: both;
}

.advSugAdvancedTextBoxDefaultText-loading {
	background-color: gray;
}

/**----------- StatePanel **********/
.sPanel {
	border-radius: 4px 4px 4px 4px;
	height: 80px;
	text-align: center;
	width: 450px;
	padding: 10px;
	background-color: #FFEFBF;
}

.PRESSED {
	-webkit-box-shadow: 0px 0px 1px #A09B8C;
	-moz-box-shadow: 0px 0px 1px #A09B8C;
	box-shadow: 0px 0px 1px #A09B8C;
}

.UNPRESSED {
	-webkit-box-shadow: 1px 1px 2px #A09B8C;
	-moz-box-shadow: 1px 1px 2px #A09B8C;
	box-shadow: 1px 1px 2px #A09B8C;
}

.DISBLED {
	background-color: gray;
}

.ENABLED {
	
}

/**---------------- demo ----------- */
.flat {
	background-color: transparent;
}

.green {
	background-color: #E6FFA2;
}

/**---------- collapsible selector -------------*/
#selectionPanel4 {
	vertical-align: top;
}

#selectionPanelState3 {
	height: 15em;
}

.collapsibleSelector {
	background-color: green;
	border-radius: 4px 4px 4px 4px;
	color: white;
	padding: 0.5em;
	width: 80%;
}

.collapsibleSelector.expanded {
	background-color: yellowgreen;
	font-weight: bold;
	padding-bottom: 1em;
	width: 96%;
}

/*-------------------- CommentWidget -------------------------*/
.emptyComment {
	color: gray;
	font-style: italic;
	width: 32em;
}

.comment {
	color: black;
	width: 39em;
}