/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

h3 {
	color: #ff7700;
}

h4 {
	color: #ff7700;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/* la suggest box CUSTOM */
.eu-nextstreet-SuggestFieldPanel {
	border: 1px solid blue;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 1px 1px 8px #9fa7eb;
	-moz-box-shadow: 1px 1px 8px #9fa7eb;
	box-shadow: 1px 1px 8px #414178;
}

.eu-nextstreet-SuggestFieldPanel table tr {
	
}

.eu-nextstreet-SuggestFieldPanel .eu-nextstreet-SuggestFieldPanel-left {
	
}

.eu-nextstreet-SuggestFieldPanel .eu-nextstreet-SuggestFieldPanel-left .eu-nextstreet-SuggestFieldPanel-leftInner
	{
	
}

.eu-nextstreet-SuggestFieldPanel .eu-nextstreet-SuggestFieldPanel-content
	{
	
}

.eu-nextstreet-SuggestFieldPanel .eu-nextstreet-SuggestFieldPanel-right
	{
	
}

.eu-nextstreet-SuggestFieldPanel .eu-nextstreet-SuggestFieldPanel-right .eu-nextstreet-SuggestFieldPanel-rightInner
	{
	
}

.eu-nextstreet-SuggestItem {
	font-size: 0.9em;
	min-height: 22px;
	padding: 2px;
}

 
.panelSelector .gwt-Image.icon {
    float: left;
    width: 1em;
}

.panelSelector .eu-nextstreet-SuggestItem {
    float: left;
    font-size: 0.9em;
    min-height: 22px;
    padding: 2px;
}

.panelSelector .label {
	min-width: 3em;
	float: left;
}

.panelSelector .image {
	float: left;
}

.panelSelector .selectionIndicator {
	clear:left;
	height: 0.15em;
	background-color: green;
}

#selectionPanel3 .panelSelector .eu-nextstreet-SuggestItemSelected {
	background-color: inherit;
	border-radius:0; 
}


.panelSelector .eu-nextstreet-SuggestItemSelected .selectionIndicator {
    background-color: #77FF77;
}

.panelSelector .last {
	clear: left;
}

/* .panelSelector .eu-nextstreet-SuggestItemHover {
	background-color: inherit;
	border-radius: 0;
}
 */
.eu-nextstreet-SuggestItem .container {
	
}

.eu-nextstreet-SuggestItem .container .icon {
	float: left;
}

.eu-nextstreet-SuggestItem .container .label {
	float: left;
}

.eu-nextstreet-SuggestItemSelected {
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 1px 1px 1px #949dff;
	background-color: #cbddfa;
	color: black;
}
.eu-nextstreet-SuggestItemSelected .disabled {
	background-color: inherit;
	color: inherit;
}

.panelSelector .eu-nextstreet-SuggestItemSelected .disabled .label {
	color: gray;
	text-shadow: none;	
}

.panelSelector .eu-nextstreet-SuggestItemSelected .disabled .selectionIndicator {
	background-color: inherit;
	
}

.eu-nextstreet-SuggestItemHover {
	font-weight: bold;
	background-color: #cce4f5;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.eu-nextstreet-SuggestMatchingString {
	color: #0f8a04;
	text-shadow: 1px 1px 1px #95ff8f;
}

.eu-nextstreet-SuggestFieldComp {
	clear: both;
}


.eu-nextstreet-SuggestFieldComp.rOnly {
    background-color: #DDDDDD;
    -webkit-border-radius: 3px;
	border-radius: 3px;
}

.rOnly .eu-nextstreet-SuggestFieldDetail {
	border: none;
}

.eu-nextstreet-SuggestFieldDetail {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #F4F4F4;
}

.eu-nextstreet-SuggestFieldDetail .top {
	clear: both;
}

.eu-nextstreet-SuggestFieldDetail .bottom {
	clear: both;
}

.eu-nextstreet-SuggestFieldDetail .vCentral {
}

.eu-nextstreet-SuggestFieldDetail .left {
	float: left;
	min-height: 1em;
	padding-right: 1%;
	min-width: 1em;
}

.eu-nextstreet-SuggestField {
	background: url("img/arrow.png") no-repeat scroll right 5px transparent;
	border: medium none;
	float: left;
}

#suggestBoxMultiValueContainer .eu-nextstreet-SuggestField {
	width: 99%;
}

#selectionPanelState {
    background-color: #085123;
    color: yellow;
}

#selectionPanelState2 {
    background-color: #E0CFBC;
    border-radius: 4px 4px 4px 4px;
    color: black;
    padding: 1em;
}

#suggestBoxContainer .eu-nextstreet-SuggestField {
	width: 94%;
} 

.eu-nextstreet-SuggestFieldDetail .right {
	float: left;
	min-height: 1em;
	padding-left: 0.5%;
}

.eu-nextstreet-SuggestPopup {
	background-color: #f3f3f3;
	border: 1px solid blue;
	border-top: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-box-shadow: 1px 1px 8px #9fa7eb;
	-moz-box-shadow: 1px 1px 8px #9fa7eb;
	box-shadow: 1px 1px 8px #414178;
	padding: 5px;
}

.eu-nextstreet-SuggestPopup table {
	
}

.eu-nextstreet-SuggestFieldHover {
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 6px #dbe9ff;
	-moz-box-shadow: 1px 1px 6px #dbe9ff;
	box-shadow: 1px 1px 6px #dbe9ff;
}

.eu-nextstreet-AdvancedTextBoxDefaultText {
	color: #999999;
}

.eu-nextstreet-AdvancedTextBoxErrorText {
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 1px 1px 1px #a90329;
	filter: dropshadow(color =                 #a90329, offx =                 1,
		offy = 
		 
		             1);
	background-color: #ffc2c2;
	color: black;
}

.eu-nextstreet-AdvancedTextBoxMandatoryText {
	background-color: #ff9999;
	border: 0px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 8px #ff9999;
	-moz-box-shadow: 1px 1px 8px #ff9999;
	box-shadow: 1px 1px 8px #ff9999;
}
.rOnly .eu-nextstreet-SuggestField.eu-nextstreet-SuggestField-readonly {
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
}

.eu-nextstreet-AdvancedTextBoxReadOnlyText {
	background-color: #dddddd;
	color: gray;
	border: 0px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 1px 1px 8px #9fa7eb;
	-moz-box-shadow: 1px 1px 8px #9fa7eb;
	box-shadow: 1px 1px 8px #414178;
}

.eu-nextstreet-SuggestFieldPopupSimpleTable {
	padding: 0;
}

.eu-nextstreet-SuggestFieldPopupSimpleTable tr td {
	
}

.eu-nextstreet-SuggestFieldPopupSimpleTableCell {
	
}

.eu-nextstreet-SuggestFieldPopupSimpleTableCell-selected {
	background-color: #b5b5b5;
	text-shadow: 1px 1px 1px #d5d5d5;
	filter: dropshadow(color =#d5d5d5, offx =1,offy =1);
}

.eu-nextstreet-SuggestFieldPopupSimpleTableCell-hover {
	text-shadow: 1px 1px 1px #707cba;
	filter: dropshadow(color =                 #707cba, offx =                 1,
		offy = 
		 
		             1);
}

.eu-nextstreet-SuggestTableMatchingString {
	background-color: #b0fc24;
	text-shadow: 1px 1px 1px #25e1fa;
	filter: dropshadow(color =                 #25e1fa, offx =                 1,
		offy = 
		 
		             1);
}

.eu-nextstreet-MultiChoiceItem {
	float: left;
	padding-right: 3px;
}

.eu-nextstreet-MultiChoiceItem .eu-nextstreet-MultiItem {
	
}

.eu-nextstreet-SuggestItem-Elem {
	float: left;
}

.eu-nextstreet-SuggestItem-Elem .container {
	clear: both;
	float: left;
}

.eu-nextstreet-SuggestItem-Elem .container .icon {
	float: left;
}

.eu-nextstreet-SuggestItem-Elem .container .label {
	
}

.eu-nextstreet-SuggestItem-Elem .remove {
	float: right;
	padding-right: 5px;
}

.eu-nextstreet-MultiChoiceSelection {
	
}

.eu-nextstreet-MultiItem {
	vertical-align: middle;
}

.eu-nextstreet-MultiItem .line {
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	background-color: #CBDDFA;
	padding: 2px;
}

.eu-nextstreet-MultiItem .lineBreak {
	clear: both;
}

.eu-nextstreet-AdvancedTextBoxDefaultText-loading {
	background-color: gray;
}

/**----------- StatePanel **********/
.sPanel {
	border-radius: 4px 4px 4px 4px;
	height: 80px;
	text-align: center;
	width: 450px;
	padding: 10px;
	background-color: #FFEFBF;
}

.PRESSED {
	-webkit-box-shadow: 0px 0px 1px #A09B8C;
	-moz-box-shadow: 0px 0px 1px #A09B8C;
	box-shadow: 0px 0px 1px #A09B8C;
}

.UNPRESSED {
	-webkit-box-shadow: 1px 1px 2px #A09B8C;
	-moz-box-shadow: 1px 1px 2px #A09B8C;
	box-shadow: 1px 1px 2px #A09B8C;
}

.DISBLED {
	background-color: gray;
}

.ENABLED {
	
}

/**---------------- demo ----------- */
.flat {
	background-color: transparent;
}

.green {
	background-color: #E6FFA2;
}

/**---------- collapsible selector -------------*/
#selectionPanel4 {
	vertical-align: top;
}

#selectionPanelState3 {
	height: 15em;
}

.collapsibleSelector {
    background-color: green;
    border-radius: 4px 4px 4px 4px;
    color: white;
    padding: 0.5em;
    width: 80%;
}

.collapsibleSelector.expanded {
  background-color: yellowgreen;
  font-weight: bold;
  padding-bottom: 1em;
  width: 96%;
}