/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/* la suggest box STANDARD */
.advSugFieldPanel {
	border-collapse: collapse;
	border: none;
}

.advSugFieldPanel .advSugFieldPanel-left {
	background-color: #eaeff7;
}

.advSugFieldPanel .advSugFieldPanel-left .advSugFieldPanel-leftInner
	{
	padding: 6px 0 6px 6px;
}

.advSugFieldPanel .advSugFieldPanel-content
	{
	background-color: #eaeff7;
	padding: 6px 0 6px 0;
}

.advSugFieldPanel .advSugFieldPanel-right
	{
	background-color: #eaeff7;
}

.advSugFieldPanel .advSugFieldPanel-right .advSugFieldPanel-rightInner
	{
	padding: 6px 6px 6px 0;
}

.advSugItemSelected {
	background-color: #c9dcfe;
	color: black;
	font-weight: bold;
}

.hover {
	font-weight: bold;
}

.advSugMatchingString {
	font-weight: bold;
	color: #1aae1d;
}

.advSugField {
	background: white url('img/arrow.png') no-repeat right 5px;
}

.advSugPopup {
	background-color: #eaeff7;
	border-top: 0px;
	border-left: 1px solid #c9dcfe;
	border-bottom: 1px solid #c9dcfe;
	border-right: 1px solid #c9dcfe;
	padding: 5px;
}

.advSugFieldHover {
	cursor: pointer;
}

.eu-nextstreet-AdvancedTextBoxDefaultText {
	color: #9999BB;
}

.eu-nextstreet-AdvancedTextBoxErrorText {
	background-color: #ee4444;
	color: white;
	border: red;
}

.eu-nextstreet-AdvancedTextBoxMandatoryText {
	background-color: #aa9999;
}

.eu-nextstreet-AdvancedTextBoxReadOnlyText {
	background-color: #dddddd;
	color: gray;
}

.advSugFieldPopupSimpleTableCell {
	
}

.advSugFieldPopupSimpleTableCell-selected {
	background-color: #aaffaa;
}

.advSugFieldPopupSimpleTableCell-hover {
	font-weight: bold;
}

.advSugTableMatchingString {
	background: transparent url( img/matching-str-bg.PNG ) repeat-x left top
		;
}