.panel {
}

.hovered {
	background-color: green lighter;
}

.item {
	background-color: #CCCCCC;
	border-radius: 3px 0 0 3px;
	color: black;
	font-size: 0.9em;
	margin-bottom: 1px;
	padding: 0.1em;
	padding-left: 0.5em;
	cursor: pointer;
}

.selected {
	background-color:green;
	color: white;
	cursor: auto;
	height: 3em;
}

.disabled {
	background-color: #DDDDDD;
	color: #AAAAAA;
}

.disabledPanel {
	background-color: #CCCCCC;
}