.panel {
}

.hovered {
	background-color: green lighter;
}

.item {
	background-color: white;
	color: black;
	cursor: pointer;
	float: left;
	font-size: 0.9em;
}

.selected {
	color: #FFFE99;
	cursor: pointer;
}

.disabled {
	background-color: #DDDDDD;
	color: #AAAAAA;
}

.disabledPanel {
}