/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/* la suggest box STANDARD */

.eu-nextstreet-SuggestFieldPanel {
  border-collapse: collapse ;
  border: none ;
}

.eu-nextstreet-SuggestFieldPanel .eu-nextstreet-SuggestFieldPanel-left {
  background-color: #eaeff7 ;
}
.eu-nextstreet-SuggestFieldPanel .eu-nextstreet-SuggestFieldPanel-left .eu-nextstreet-SuggestFieldPanel-leftInner {
  padding: 6px 0 6px 6px;
}

.eu-nextstreet-SuggestFieldPanel .eu-nextstreet-SuggestFieldPanel-content {
  background-color: #eaeff7 ;
  padding: 6px 0 6px 0;
}

.eu-nextstreet-SuggestFieldPanel .eu-nextstreet-SuggestFieldPanel-right {
  background-color: #eaeff7 ;
}
.eu-nextstreet-SuggestFieldPanel .eu-nextstreet-SuggestFieldPanel-right .eu-nextstreet-SuggestFieldPanel-rightInner {
  padding: 6px 6px 6px 0 ;
}

.eu-nextstreet-SuggestItemSelected {
	background-color: #c9dcfe;
	color: black;
	font-weight: bold;
}

.eu-nextstreet-SuggestItemHover {
	font-weight: bold;
}

.eu-nextstreet-SuggestMatchingString {
	font-weight: bold;
	color: #1aae1d ;
}

.eu-nextstreet-SuggestField {
	background: white url('img/arrow.png') no-repeat right 5px;
}

.eu-nextstreet-SuggestPopup {
  background-color: #eaeff7 ;
	border-top: 0px;
	border-left: 1px solid #c9dcfe;
	border-bottom: 1px solid #c9dcfe;
	border-right: 1px solid #c9dcfe;
	padding: 5px;
}


.eu-nextstreet-SuggestFieldHover {
	cursor: pointer;
}

.eu-nextstreet-AdvancedTextBoxDefaultText {
	color: #9999BB;
}

.eu-nextstreet-AdvancedTextBoxErrorText {
	background-color: #ee4444;
	color: white;
	border: red;
}

.eu-nextstreet-AdvancedTextBoxMandatoryText {
	background-color: #aa9999;
}

.eu-nextstreet-AdvancedTextBoxReadOnlyText {
	background-color: #dddddd;
	color: gray;
}